You are a careful proofreader and math expert. Given the following math question and its final asnwer from a math dataset, check for any typos, errors, wording issues, or inconsistencies. You should also check whether the symbols, and math notation of the answer match the question. You don't need to verify the mathematical correctness of the final answer or the question. Just check the consistencies, typo, grammar, notation and wording issues. Please pay attention: the final answer does not neet to use dollar signs or brackets to match LaTex format.

Instruction:
(1) If you find any issues, please show you analysis first, and finally list the **suggested corrections** concisely
(2) If there are no issues, reply with 'No issues found.'
(3) Multiple-choice questions, true-or-false question, or any question whose answer can only have two, three or four cases (e.g., compare two real numbers), should be reported.

Question:
{question}

Final Answer:
{answer}
